<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>summary</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<nav th:replace="bar/top::top"></nav>
<div id="login-container">
    <div v-if="isLogin">
        <form method="post" th:action="@{/verify}">
            Email: <input type="text" name="email"><br>
            Password: <input type="password" name="password">
            <input type="submit" value="Submit">
        </form>
        <button @click="toggleRegister">
            {{ registry }}
        </button>
    </div>

    <div v-if="!isLogin">
        <form method="post" th:action="@{/register}">
            Name: <input type="text" name="username"><br>
            Email: <input type="text" name="email"><br>
            Password: <input type="password" name="password"><br>
            Confirm Password: <input type="password" name="confirmPassword">
            <input type="submit" value="Submit">
        </form>
        <button @click="toggleRegister">
            {{ login }}
        </button>
    </div>

    <span th:text="${errorMsg}"></span>
</div>
<footer th:replace="bar/footer::footer"></footer>

</body>
<script type="text/javascript" th:inline="javascript">
    const EventHandling = {
        data() {
            return {
                login: 'login',
                registry: 'registry',
                loginTag: /*[[${login}]]*/ null,
                isLogin: this.loginTag == null
            }
        },
        methods: {
            toggleRegister() {
                this.isLogin = !this.isLogin;
            }
        }
    }

    Vue.createApp(EventHandling).mount('#login-container')
</script>
</html>